<div class="container todo-o-index">
  <div class="row">
    <div class="col">
      <% if @query %>
        <p>Exibindo os resultados para <strong><%= @query %></strong>. Encontramos <%= @flats.count %> acomodações de <%= Flat.count %> em nossa plataforma.</p>
      <% end %>
    </div>
  </div>

  <h1><%= "Todos nossos flats (#{@flats.count})" %></h1>

  <div class="container anuncios">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <img src='<%= flat.picture_url %>' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
        </div>
        <div class="card-body">
          <a href="" class="card-link"><%= link_to "Mais informações", flat_path(flat) %></a>
        </div>
      </div>
    <% end %>
  </div>

</div>
