<div class="container todo-o-index">
  <div class="row">
    <div class="col">
      <% if @query %>
        <p>Showing results for <strong><%= @query %></strong>. We found <%= @flats.count %> accommodations out of <%= Flat.count %> on our platform.</p>
      <% end %>
    </div>
  </div>

  <h1><%= "All our accommodations (#{@flats.count})" %></h1>

  <div class="container anuncios">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <img src='<%= flat.picture_url %>' class="card-img-top">
        <div class="card-body">
          <h4 class="card-title"><%= flat.name %></h4>
          <p class="card-text"><%= flat.address %></p>
          <p class="card-text"><strong>$<%= flat.price_per_night %></strong> per night</p>
        </div>
        <div class="card-body">
          <button class="btn-show"><a href="" class="card-link"><%= link_to "More Info", flat_path(flat) %></a></button>
        </div>
      </div>
    <% end %>
  </div>

</div>
