<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>

<%= link_to "Editar este Flat", edit_flat_path(@flat) %> |
<%= link_to "Apagar este Flat",
  flat_path(@flat),
  data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja apagar este Flat?"}
%> |
<%= link_to "Voltar à lista dos Flats", flats_path %>
