<div class="map" style="background-image: url('<%= @flat.picture_url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h2><%= @flat.name %></h2>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h4>Conheça mais sobre o local...</h4>
        <p><%= @flat.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <div class="flex">R$ <%= @flat.price_per_night %> noite</div>
        <div class="flex"><%= @flat.number_of_guests %> pessoas</div>
      </div>
    </div>
  </div>
</div>

<div class="container barra-acao">
  <%= link_to "Editar este Flat", edit_flat_path(@flat) %> |
  <%= link_to "Voltar à lista dos Flats", flats_path %> |
  <%= link_to "Delete",
  flat_path(@flat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Apagar anúncio", @flat, :class=>"btn-delete", data: { method: :delete, turbo_confirm: "Realmente deseja apagar o anúncio?" } %>
</div>
