<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/flats", class: "navbar-brand" do %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%# #Search bar start %>
          <%= form_with url: flats_path, method: :get, class: "d-flex", id:"search-bar" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Encontre o local de sua estadía" %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
          <%# #Search bar end %>
        </li>
        <li class="nav-item active">
          <button type="button" class="btn-add-flat"><%= link_to "Add Flat", new_flat_path %></button>
        </li>
      </ul>
    </div>
  </div>
</div>
